*{margin:1}
.grad {
  border-radius: 15px;
  border: 2px solid #000000;
  width: 315px;
  height: 270px;
  text-align: center;
  background-color: red;
  color: white;
  font: 25px arial, sans serif;
}

h1 {
  padding: 2px;
  margin-bottom: -40px;
}

h3 {
  color: black;
  background-color: white;
  height: 40px; 
  padding: 25px;
  font-size: 50px; 
}