<!DOCTYPE html>
<html>
   
  </head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

  <body>
    <h1>Delete User</h1>
    <ul style="list-style-type:none;">
        <% users.forEach((user,index) => { %>
                <li><%- `${index}-${user.email}` %></li>

        <% }) %>
    </ul>

    <form  action="/users/delete" method="POST"> 
        Email <input type="text" name="email"><br> 
        Password <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
    
    </form>

        <h4><%= response %></h4>
  </body>
</html>