<!DOCTYPE html>
<html>
   
  </head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

  <body>

    <ul style="list-style-type:none;">
        <% users.forEach((user,index) => { %>
                <li><%- `${index}-${user.email}` %></li>
        <% }) %>
    </ul>

    <h1>Forgot Password</h1>
        
    <form  action="/users/forgot" method="POST"> 
        Email <input type="text" name="email"><br> 
        <br>
        <input type="submit">
    
    </form>
    
    <h4> <%= response %> </h4>

  </body>
</html>