<!DOCTYPE html>
<html>
   
  </head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

  <body>
    <h1>Forgot Password</h1>
    <p></p>
        
    <form  action="/users" method="POST">
        
        First Name <input type="text" name="firstname"><br>
        Last Name <input type="text" name="lastname"><br> 
        Password <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
    
    </form>

  </body>
</html>