<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Welcome to <%= title %> </h1>
    <p>Click on a link below:</p>
        
    <a href="/users/add">Add User</a><br>
    <a href="/users/login">Login</a><br>
    <a href="/users/update">Update Login Info</a><br>
    <a href="/users/delete">Delete User</a><br>
    <a href="/users/forgot">Forgot Password</a>
  </body>

  </html>
