<!DOCTYPE html>
<html>
   
  </head>
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

  <body>
    <h1>Login</h1>
    <p></p>
        
    <form  action="/users/login" method="POST">
        
        Email <input type="text" name="email"><br>
        Password <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
    
    </form>

   <h3><%=response %></h3>

  </body>
</html>